.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 360px;
  padding: 20px;
}

.failure {
  min-height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 40%;
  height: 100%;
}
@media screen and (max-width: 576px) {
  .img {
    width: 60%;
  }
}
